/* ------------------------------------------------------------------ PRE-LOADER ------------------------------------------------------------------ */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1a1918;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.logo-loader {
    width: 200px;
    animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
}

/* ------------------------------------------------------------------ ANIMACIÓN AL SCROLLEAR ------------------------------------------------------------------ */

.scroll-section * {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.scroll-section .visible {
  opacity: 1;
  transform: translateY(0);
}

/* ------------------------------------------------------------------ GENERAL ------------------------------------------------------------------ */

* {
  box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

html {
    min-height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    background: #202020;
    padding-top: 80px;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* ------------------------------------------------------------------ NAV BAR ------------------------------------------------------------------ */

header {
    background: #1a1918;
    color: #fff;
    padding: 16px;
    position: fixed; 
    top: 0;          
    left: 0;
    width: 100%;
    z-index: 1000;   
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 370px;
}

.logo-img {
    width: 200px;
    height: auto;
    display: block;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
}

nav a,
nav a:visited {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #e5c359;
    transition: color 0.3s ease;
}

/* ------------------------------------------------------------------ FOOTER ------------------------------------------------------------------ */

footer {
    background-color: #1a1918;
    color: white;
    text-align: center;
    padding: 1rem;
}

footer#contacto {
    color: white;
    padding: 10px 20px;
    text-align: center;
}

.footer-item {
    margin-bottom: 12px;
    text-align: center;
    margin-top: 15px;
}

.footer-item a {
    color: white;
    text-decoration: none;
}

.footer-item a:hover {
    color: #e5c359;
    text-decoration: underline;
}

.icono {
    width: 20px;
    height: 20px;
    vertical-align: text-bottom;
    margin-right: 8px;
}

.linea-footer {
    margin: 20px auto 10px auto;
    width: 37%;
    border: 0;
    height: 1px;
    background-color: #e5c359;
}

footer .copyright {
    font-size: 0.9em;
    color: #FFFFFF;
}

/* ------------------------------------------------------------------ NOSOTROS ------------------------------------------------------------------ */

.banner-nosotros {
  overflow: hidden;
  margin-top: -10px;
  margin-bottom: 10px;
}

.banner-nosotros img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

.nosotros {
  background-color: #202020;
  color: white;
  padding: 4rem 2rem;
}

.contenido {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  gap: 200px;
  margin: 0 auto;
  margin-bottom: 200px;
  padding: 0 1rem;
}

.texto-nosotros {
  text-wrap: wrap;
  width: 800px;
  font-size: 0.85rem;
  line-height: 1.5;
}

.texto-nosotros h2 {
  color: #e5c359;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.galeria-vertical {
  /* min-width: 200px; */
  width: 200px;
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.galeria-vertical img {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
  display: block;
}

.proyectos-contenedor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  gap: 200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.lista {
  flex: 1;
  border-bottom: 1px solid #e5c359;
  width: 600px;
}

.imagen-proyecto img {
  transition: transform 0.8s ease;
  width: 200px;
  border-radius: 20px;
  object-fit: cover;
  display: block;
}

.lista-titulo {
  cursor: pointer;  
  display: flex;
  justify-content: space-between;
  align-items: left;
  font-size: 30px;
  padding-bottom: 10px;
}

.lista-contenedor {
  text-wrap: wrap;
  width: 600px;
  font-size: 16px;
}

.lista-titulo::after {
  content: "+";
}

.lista.abierta .lista-titulo {
  color: #e5c359;
  transition: color 0.5s ease;
}

.lista.abierta .lista-titulo::after {
  content: "-";
  color: #e5c359;
  transition: color 0.5s ease;
}

.lista.abierta ~ .imagen-proyecto img {
  transform: scale(1.02);
  opacity: 1;
}

.lista-contenedor {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease;
}

.lista.abierta .lista-contenedor {
  max-height: 700px;
}

/* ------------------------------------------------------------------ SERVICIOS ------------------------------------------------------------------ */

.grid-servicios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    max-width: 1000px;
    margin: auto auto;
    color: white;
}

.grid-servicios .proyecto,
.grid-servicios .direccion,
.grid-servicios .obra {
    max-width: 800px;
}

.grid-servicios h2 {
    color: #e5c359;
    margin-bottom: 0.5rem;
}

/* ------------------------------------------------------------------ PORTFOLIO ------------------------------------------------------------------ */

.vivienda-galeria-css input[type="radio"] {
  display: none;
}

.vivienda-galeria-css {
  width: 350px;
  margin: 2rem auto;
  position: relative;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.6s ease;
  width: 100%;
  z-index: 0;
}

.slide.active {
  opacity: 1;
  position: relative;
  z-index: 1;
}

.slides {
  position: relative;
  height: auto;
}

.slide img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.navigation-manual {
  text-align: center;
  margin-top: 1rem;
}

.manual-btn {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 5px;
  transition: background-color 0.3s;
}

.manual-btn:hover {
  background-color: #e5c359;
}

.descripcion-casac {
  color: #ffffff;
  font-size: 0.8rem;
  line-height: 1.3;
}

.descripcion-casac p {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.descripcion-casac h2 {
  color: #e5c359;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

.tabs-contenedor input[type="radio"] {
  display: none;
}

.tabs-menu {
  display: flex;
  justify-content: center;
  gap: 2rem; 
  background-color: #1c1b1b;
  top: 70px;
  position: fixed;
  width: 100%;   
  z-index: 999;
}

.tabs-menu label {
  color: white;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  transition: background 0.3s, color 0.3s;
}

.tabs-menu label:hover {
  color: #e5c359;
}

.tab-content {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.2s ease, transform 0.2s ease;
  color: white;
  padding: 2rem;
  position: absolute;
  left: 0;
}

#tab-viviendas:checked ~ .viviendas,
#tab-comercios:checked ~ .comercios,
#tab-empresas:checked ~ .empresas {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  position: relative;
  z-index: 1;
}

#tab-viviendas:checked ~ .tabs-menu label[for="tab-viviendas"],
#tab-comercios:checked ~ .tabs-menu label[for="tab-comercios"],
#tab-empresas:checked ~ .tabs-menu label[for="tab-empresas"] {
  color: #e5c359;
}

.viviendas-grid,
.comercios-grid,
.empresas-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  gap: 2rem;
  justify-items: center;
}

/* ------------------------------------------------------------------ RESPONSIVE ------------------------------------------------------------------ */